/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
.dummy {
  opacity: 1;
}

.system_goal_container {
  font-family: "SegoeUI", "Segoe UI", sans-serif;
}
.system_goal_container h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-bottom: 36px;
}
.system_goal_container .filter_container {
  display: inline-flex;
  flex-direction: column;
}
.system_goal_container .field_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}
.system_goal_container label {
  font-size: 16px;
  font-weight: 600;
  min-width: 100px;
}
.system_goal_container .dropdown {
  flex: 1;
}
.system_goal_container .dropdown .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  gap: 16px;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.system_goal_container .dropdown .btn.dropdown-toggle:after {
  border: 0 !important;
  content: "\f107";
  display: inline-block;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
}
.system_goal_container .dropdown .dropdown-menu {
  width: 100%;
}
.system_goal_container .dropdown .dropdown-menu .dropdown-item {
  white-space: pre-wrap;
}
.system_goal_container .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #def0f8;
}
.system_goal_container .dropdown .dropdown-menu .group_list .title {
  font-weight: 600;
  background-color: #0078d4;
  color: #fff;
  border-bottom: 1px solid #70a8d2;
  height: 40px;
  display: flex;
  align-items: center;
}
.system_goal_container .dropdown .dropdown-menu .group_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.system_goal_container .dropdown .dropdown-menu .group_list ul .dropdown-item {
  padding-left: 22px;
}
.system_goal_container .dropdown .dropdown-menu .group_list .inner_group .inner_title {
  font-weight: 600;
  background-color: #70a8d2;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  height: 34px;
  display: flex;
  align-items: center;
}
.system_goal_container .dropdown .dropdown-menu .group_list .inner_group ul .dropdown-item {
  padding-left: 28px;
  font-size: 13px;
}
.system_goal_container .value_table {
  width: 100%;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  border-collapse: separate;
  margin-top: 24px;
}
.system_goal_container .value_table thead {
  background-color: #ebf7ff;
}
.system_goal_container .value_table th, .system_goal_container .value_table td {
  padding: 4px;
}
.system_goal_container .value_table th {
  padding: 8px 4px;
}
.system_goal_container .value_table td {
  vertical-align: top;
  text-align: left;
}
.system_goal_container .value_table .dropdown .btn {
  min-width: 130px;
}
.system_goal_container .value_table input[type=text] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 38px;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.system_goal_container .btn_container_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}
.system_goal_container .btn_container_footer button {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #0078d4;
  overflow: hidden;
  float: left;
  max-width: -moz-fit-content;
  max-width: fit-content;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1568627451);
  padding: 8px 12px;
  min-width: 100px;
}
.system_goal_container .btn_container_footer button:hover {
  background-color: #0078d4;
  color: #fff;
}
.system_goal_container .btn_container_footer button.active {
  background-color: #0078d4;
  color: #fff;
}
.system_goal_container .btn_container_footer button.active:hover {
  background-color: #fff;
  color: #0078d4;
}/*# sourceMappingURL=SystemGoalForm.module.css.map */