@import '~@fluentui/react/dist/sass/References.scss';

.dummy{
  opacity: 1;
}

.system_goal_container{
  font-family: 'SegoeUI', 'Segoe UI', sans-serif;
  h3{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom: 36px;
  }
  .filter_container{
    display: inline-flex;
    flex-direction: column;
    // position: relative;
    // left: 50%;
    // transform: translateX(-50%);
    // z-index: 9;
  }
  .field_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 16px;
  }
  label{
    font-size: 16px;
    font-weight: 600;
    min-width: 100px;
  }
  .dropdown{
    flex: 1;
    .btn{
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 100%;
      gap: 16px;
      border: 1px solid #d2d2d2;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      &.dropdown-toggle:after {
        border: 0 !important;
        content: '\f107';
        display: inline-block;
        font-family: "Font Awesome 5 free";
        font-weight: 900;
      }
    }
    .dropdown-menu{
      width: 100%;
      .dropdown-item{
        white-space: pre-wrap;
        &:hover {
          background-color: #def0f8;
        }
      }
      .group_list{
        .title{
          font-weight: 600;
          background-color: #0078d4;
          color: #fff;
          border-bottom: 1px solid #70a8d2;
          height: 40px;
          display: flex;
          align-items: center;
        }
        ul{
          list-style: none;
          margin: 0;
          padding: 0;
          .dropdown-item{
            padding-left: 22px;
          }
        }
        .inner_group{
          .inner_title{
            font-weight: 600;
            background-color: #70a8d2;
            color: #fff;
            font-size: 14px;
            border-bottom: 1px solid #fff;
            height: 34px;
          display: flex;
          align-items: center;
          }
          ul{
            .dropdown-item{
              padding-left: 28px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .value_table{
    width: 100%;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    border-collapse: separate;
    margin-top: 24px;
    thead{
      background-color: #ebf7ff;
    }
    
    th,td{
      padding:4px;
    }
    th{
      padding: 8px 4px;
    }
    td{
      vertical-align: top;
      text-align: left;
    }
    .dropdown{
      .btn{
        min-width: 130px;
      }
    }
    input[type="text"] {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      height: 38px;
      border: 1px solid #d2d2d2;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }

  }

  .btn_container_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
    button{
      background-color: #fff;
    border-radius: 4px;
    border: 1px solid #0078d4;
    overflow: hidden;
    float: left;
    max-width: fit-content;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1568627450980392);
    padding: 8px 12px;
    min-width: 100px;
    &:hover{
      background-color: #0078d4;
      color: #fff;
    }
    &.active {
      background-color: #0078d4;
      color: #fff;
      &:hover{
        background-color: #fff;
        color: #0078d4;
      }
    }
    }
  }
}