.dummy {
  opacity: 1;
}

#workbenchPageContent {
  max-width: 1920px;
}

.system_goal_container {
  font-family: "SegoeUI", "Segoe UI", sans-serif;
}
.system_goal_container h3 {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  background-position: 50%;
  margin-bottom: 32px;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  will-change: transform;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1568627451);
  overflow: hidden;
  color: #fff;
  background-image: url("https://img.freepik.com/free-photo/3d-rendering-arrow-hitting-target_23-2151266612.jpg?t=st=1722953325~exp=1722956925~hmac=e363e7387749de5c915da396c3b89dafaa6863c27c4b48ed17341a0245a5c6c0&w=1800");
}
.system_goal_container h3 span {
  position: relative;
}
.system_goal_container h3::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.system_goal_container .filter_container {
  display: inline-flex;
  flex-direction: column;
}
.system_goal_container .field_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}
.system_goal_container label {
  font-size: 16px;
  font-weight: 600;
  min-width: 100px;
}
.system_goal_container .dropdown {
  flex: 1;
  min-width: 220px;
}
.system_goal_container .dropdown .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  gap: 16px;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.system_goal_container .dropdown .btn.dropdown-toggle:after {
  border: 0 !important;
  content: "\f107";
  display: inline-block;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
}
.system_goal_container .dropdown .dropdown-menu {
  width: 100%;
}
.system_goal_container .dropdown .dropdown-menu .dropdown-item {
  white-space: pre-wrap;
}
.system_goal_container .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #def0f8;
}
.system_goal_container .dropdown .dropdown-menu .group_list .title {
  font-weight: 600;
  background-color: #0078d4;
  color: #fff;
  border-bottom: 1px solid #70a8d2;
  height: 40px;
  display: flex;
  align-items: center;
}
.system_goal_container .dropdown .dropdown-menu .group_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.system_goal_container .dropdown .dropdown-menu .group_list ul .dropdown-item {
  padding-left: 22px;
}
.system_goal_container .dropdown .dropdown-menu .group_list .inner_group .inner_title {
  font-weight: 600;
  background-color: #70a8d2;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  height: 34px;
  display: flex;
  align-items: center;
}
.system_goal_container .dropdown .dropdown-menu .group_list .inner_group ul .dropdown-item {
  padding-left: 28px;
  font-size: 13px;
}
.system_goal_container .value_table {
  width: 100%;
  height: 100%;
  border: 1px solid #98c9ee;
  overflow: hidden;
  border-collapse: collapse;
  margin-top: 24px;
}
.system_goal_container .value_table .inner_repeat_table th,
.system_goal_container .value_table .inner_repeat_table td {
  height: 100%;
  min-height: 100%;
}
.system_goal_container .value_table thead {
  background-color: #ebf7ff;
}
.system_goal_container .value_table .table_row_repeat {
  background-color: #f3f8fb;
}
.system_goal_container .value_table .table_row_repeat thead {
  background-color: transparent;
}
.system_goal_container .value_table th,
.system_goal_container .value_table td {
  padding: 4px;
  border: 1px solid #98c9ee;
}
.system_goal_container .value_table th {
  padding: 8px 4px;
}
.system_goal_container .value_table td {
  vertical-align: middle;
  text-align: left;
}
.system_goal_container .value_table td .cell_with_checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.system_goal_container .value_table td.mtd_color {
  background-color: #fff8e0;
}
.system_goal_container .value_table td.mtd_color input {
  text-align: right;
}
.system_goal_container .value_table td.mtd_color table {
  height: 100%;
}
.system_goal_container .value_table td.ytd_color {
  background-color: #f4fff2;
}
.system_goal_container .value_table td.ytd_color input {
  text-align: right;
}
.system_goal_container .value_table td.ytd_color table {
  height: 100%;
}
.system_goal_container .value_table .dropdown {
  min-width: unset;
  width: unset;
  flex: unset;
}
.system_goal_container .value_table .dropdown .btn {
  min-width: 100%;
  gap: 0;
  box-sizing: border-box;
  padding: 4px;
  height: 26px;
  justify-content: flex-end;
}
.system_goal_container .value_table .dropdown .dropdown-menu {
  width: 40px;
  min-width: 40px;
}
.system_goal_container .value_table select {
  height: 26px;
  border-color: #d2d2d2;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.system_goal_container .value_table input[type=text],
.system_goal_container .value_table textarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 38px;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.system_goal_container .value_table input[type=text] {
  height: 26px;
}
.system_goal_container .value_table .form-group {
  display: inline-block;
}
.system_goal_container .value_table .form-group input[type=checkbox] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.system_goal_container .value_table .form-group input[type=checkbox]:checked + label {
  background-color: #0fc20f;
}
.system_goal_container .value_table .form-group input[type=checkbox]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.system_goal_container .value_table .form-group input[type=checkbox]:checked + label::before {
  border-color: #0fc20f;
}
.system_goal_container .value_table .form-group label {
  cursor: pointer;
  min-width: unset;
  position: relative;
  font-size: unset;
  display: inline-flex;
}
.system_goal_container .value_table .form-group label:before {
  content: "";
  background-color: transparent;
  border: 1px solid #0079bf;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.system_goal_container .value_table textarea {
  height: 60px;
  width: 100%;
}
.system_goal_container .value_table .dropDown_container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.system_goal_container .value_table .dropDown_container span {
  flex: 1;
}
.system_goal_container .value_table .table_in_div {
  display: flex;
}
.system_goal_container .btn_container_footer {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  width: 100%;
  padding: 12px 0;
  border-top: 0;
}
.system_goal_container .btn_container_footer button {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #0078d4;
  overflow: hidden;
  float: left;
  max-width: -moz-fit-content;
  max-width: fit-content;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1568627451);
  padding: 8px 12px;
  min-width: 100px;
}
.system_goal_container .btn_container_footer button:hover {
  background-color: #0078d4;
  color: #fff;
}
.system_goal_container .btn_container_footer button.active {
  background-color: #0078d4;
  color: #fff;
}
.system_goal_container .btn_container_footer button.active:hover {
  background-color: #fff;
  color: #0078d4;
}

body.loading-class {
  overflow: hidden !important;
}
body.loading-class * {
  overflow: hidden !important;
}

.loader_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
}
.loader_container .box_align {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.loader_container .lds-ring {
  color: #fff;
}
.loader_container .lds-ring,
.loader_container .lds-ring div {
  box-sizing: border-box;
}
.loader_container .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader_container .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.loader_container .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader_container .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader_container .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=SystemGoalForm.module.css.map */